[submodule "modules/mobile-nixos"]
	path = modules/mobile-nixos
	url = git@github.com:NixOS/mobile-nixos.git
[submodule "modules/nixpkgs"]
	path = modules/nixpkgs
	url = https://github.com/NixOS/nixpkgs.git
[submodule "modules/mobile-nixos-tools"]
	path = modules/mobile-nixos-tools
	url = https://github.com/grwlf/mobile-nixos-tools.git
[submodule "modules/librem-nixos"]
	path = modules/librem-nixos
	url = https://github.com/zhaofengli/librem-nixos
